.main {
    color: white;
    position: absolute;
}
.topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.topContainer2 {
    display: flex;
    justify-content: center;
    width: 100%;
}
img {
    height: 400px;
    object-fit: cover;
    width: 100%;
} 
.split {
    display: flex;
    flex-direction: row;
    height: 40vh;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: center;

}
.video {
    display: flex;
    width: 50%;
    background-color: white;
    justify-content: center;
    height: 60vh;
    align-items: center;
}
.icon1 {
    width: 80px;
    height: 80px;
    margin: 60px
}
.bottomIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
.iconsCont2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 60vh;
}
.video2 {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
}