:root {
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    color: white;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

button {
    width: 120px;
    height: 35px;
    color: white;
    background-color: rgb(86, 85, 87);
    margin: 20px;
    border-radius: 8px;
}

button:hover {
    height: 40px;
    width: 130px;
    transition: all 0.1s ease-in-out;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: end;
}

.headerContainer {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    padding: 50px 50px 0px 0px;
    color: white;
}

.contactHeader {
    width: 100vw;
    display: flex;
    justify-content: end;
    background: transparent;
    height: 13vh;
}

.headerPieces {
    margin: 10px;
    font-weight: 600;
}