:root {
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    color: white;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p {
    font-weight: 400;
    font-size: 38px;
    width: 100%;
}

.cont {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.button {
    background-color: transparent;
    border: 2px white solid;
    color: white;
    margin: 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 25px;
}

.title {
    font-weight: 600;
    font-size: 70px;
}

.videoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button:hover {
    height: 40px;
    background-color: white;
    color: gray;
    transition: all 0.3s ease-in-out;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: end;
}

.headerContainer {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    padding: 50px 50px 0px 0px;
    color: white;
}

.contactHeader {
    width: 100vw;
    display: flex;
    justify-content: end;
    background: transparent;
    height: 13vh;
}

.headerPieces {
    margin: 10px;
    font-weight: 600;
    cursor: pointer;
}