.headerContainer {
    display: flex;
    width: 40%;
    justify-content: space-around;
    padding: 50px 50px 0px 0px;
    color: white;
    position: absolute;
}

.contactHeader {
    background-color: transparent;
    width: 100vw;
    display: flex;
    justify-content: end;
    height: 20vh;
}

.picture {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.headerPieces {
    margin: 0px;
    font-weight: 600;
}
.headerPieces:hover {
    text-decoration: underline;
}
.pic {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

@media screen {}