.main {
    color: white;
    position: absolute;
    background-color: black;
}

.topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 20vh;
}

.topContainer2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

.icon1 {
    width: 150px;
    height: 150px;
}

.bottomIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

.title {
    font-weight: 400;
    font-size: x-large;
}

.paragraph {
    font-size: 20px;
}

.iconsCont2 {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.video2 {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
}

.backgroundPhoto {
    height: 100%;
    background-image: url("../media/joe.png");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.wordsWicon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 40vh;
    width: 100%;
}

.somethingContainer {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.other {
    display: flex;
    justify-content: space-around;
}

.bottomContainer {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-image: url("../media/closeSolar.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    object-fit: cover;
}

.bottomWords {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.solarTitle {
    text-decoration: underline;
}

p {
    width: 160px;
}

.pack {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
}

.solarIcon {
    width: 200px;
    height: 200px;
}

.kitsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kitPackages {
    display: flex;
    flex-direction: row;
    margin: 25px;
    justify-content: space-around;
    width: 80%;
}